/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family: 'Poppins', sans-serif;
    background-color: #e5e5e5;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Photo{
    margin: 10px 10px;
}
.Photo img{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #bb99dd;
}

.Social_Media a{
    font-size: 16px;
    color: #bb99dd;
    text-transform: lowercase;
    text-decoration: none;
}

.Links{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 240px;
    margin: 20px;
}

.Links .url{
    border: 2px solid #bb99dd;
    width: 100%;
    text-align: center;
    padding: 5px 5px;
    font-size: 16px;
    text-transform: uppercase;
    color: #bb99dd;
}

.Links .url:hover, .Icons img:hover, .Social_Media:hover {
    cursor: pointer;
}

.Icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 220px;
}
